body{
    margin: 20px;
}
.menu{
    float: left;
    background-color: red;
    width: 15em;
    clear: bottom;

}

.content{
    background-color: green;
    margin-bottom: 2em;
    margin-left: 15em;

}

.footer{
    background-color: yellow;
}
.img{
    float: right;
}
.clear{
    clear: both;
    /*height: 20px;
    background-color: black;
     */
}
