div{
    border: 1px solid black;
    margin: 20px;
    margin-bottom: 2em;

}
.menu{
    float: left;
    background-color: red;
    width: 200px;

}

.content{
    background-color: green;
}

.footer{
    background-color: yellow;

}
