div{
    border: 1px solid black;
}
#menu{
    float: left;
    background-color: red;
    width: 200px;
}
#header{
    background-color: blue;
}
#content{
    background-color: green;
}

#footer{
    background-color: yellow;
}
